<div id="weather-main">
	<form #form="ngForm" (submit)="onSearch()">
		<input type="text" name="location" placeholder="Search location" [(ngModel)]="locationInput">
	</form>

	<div id="weather" *ngIf="weather">
		<div id="location">{{weather.location.name}}</div>
		<div id="temperature">{{weather.current.temp_c}} °C</div>
		<img id="weather-icon" src={{weather.current.condition.icon}}>
		<table>
			<tr>
				<td>Country</td>
				<td>{{weather.location.country}}</td>
			</tr>
			<tr>
				<td>Time</td>
				<td>{{weather.location.localtime.split(' ')[1]}}</td>
			</tr>
			<tr>
				<td>Humidity</td>
				<td>{{weather.current.humidity}} %</td>
			</tr>
			<tr>
				<td>Wind</td>
				<td>{{weather.current.wind_kph}} km/h</td>
			</tr>
		</table>
	</div>
</div>

<router-outlet></router-outlet>